<div class="jumbotron">
  <h1>About Pinteresting.</h1>
  <p>Who, what and why?</p>
</div>

<div class="page-header">
  <h1>Who? <small>Made by <%= link_to "Alex Kompos", "http://www.alexkompos.com", :target => "_blank" %><small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
My name is Alex Kompos and I am currently studying a Bachelor of Information Technology majoring in I.T Security & Chinese Language at Deakin University. I love turning code into awesome and secure projects . Whether it's a website, an app or just an idea I want to turn that into a reality.
	</div> 
</div>



<div class="page-header">
  <h1>What? <small>Alex's first Ruby on Rails project</small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
This was my first try at doing a Ruby on Rails web app. I learnt a lot doing this project from making user accounts with devise, using heroku, making sure that the web app was mobile optimised and tweaking the app from real user feedback.  This certainly won't be my last Ruby on Rails web app! </div>
</div>

<div class="page-header">
  <h1>Why? <small>To see if I could and why not?</small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
This web app was made whilst I was doing a 30 day programming challenge. The challenge was 30 days long and the requirement was doing a minimum of an hour of programming a day. I made this web app in the first 7 days of the challenge. This was also my first time using Ruby on Rails. The aim of this challenge was to finish with deliverables and have a boot camp learning style to learn as much as possible in the shortest amount of time. This was one of the many things I made throughout the 30 day challenge.

</div>
